.agregar-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #E5E5E5;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%;
}

.agregar-producto__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.agregar-producto__titulo{
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    align-self: flex-start;
}

#category, #nombre-producto,#precio-del-producto{
    width: 100%;
    min-width: 300px;
    min-height: 50px;
    height: 8vh;
    max-height: 60px;
    margin-top: 5%;
    border: none;
    border-radius: 4px;
    padding: 3%;
    font-size: .85em;
    font-weight: 400;    
}

#description-producto{
    width: 100%;
    min-width: 300px;
    min-height: 60px;
    height: 10vh;
    max-height: 80px;
    margin-top: 5%;
    border: none;
    border-radius: 4px;
    padding: 3%;
    font-size: .85em;
    font-weight: 400;
    resize: none;    
}

#submit-producto{
    border: none;
    background-color: var(--azul);
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5%;
    color: white;
}

@media only screen and (min-width: 768px){
    .agregar-producto{
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .agregar-producto__form{
        width: 40vw;
    }
    .login{
        height: 60vh;
    }
}