footer{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--celeste);
    width: 100vw;
    min-height: 553px;
    padding-top: 5%;
    padding-bottom:5%;
    height: auto;
    /* flex-grow: 0;
    flex-shrink: 1; */
}

.logo-y-enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.logo__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
    padding-bottom: 5%;
}

.logo__joystick-footer{
    height: 5.5vh;
}

.logo-alura{
    height: 4.4vh;
    padding: 2px;
}

.logo-geek{
    height: 4.4vh;
    padding: 2px;
}

.enlaces__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;

}

.enlaces__footer li{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 10%;
}


.contacto{
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;

    margin-top: 3%;
}

#contacto-legend{
    font-size: 16px;
    font-weight: 700;
}

#input-nombre{
    min-height: 40px;
    height: 5vh;
}
#input-nombre, #mensaje{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;

}

#mensaje{
    height: 10vh;
    min-height: 80px;
}

#submit{
    width: 150px;
    min-height: 40px;
    height: 10vh;
    max-height: 50px;
    border: none;
    background-color: var(--azul);
    color: white;
}

#submit:hover{
    cursor:pointer;
}

/* tablet */

@media only screen and (min-width: 768px){
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 364px;
    }

    .logo-y-enlaces{
        justify-content: center;
        align-items:flex-start;
        width: 48%;
        height: 100%;
    }
    .logo__joystick-footer{
        height: 4.5vh;
    }
    
    .logo-alura{
        height: 3.4vh;
        padding: 2px;
    }
    
    .logo-geek{
        height: 3.4vh;
        padding: 2px;
    }

    .enlaces__footer{
        align-items: flex-start;
    }

    .enlaces__footer li{
        margin-bottom: 6%;
    }

    .contacto{
        height: 100%;
        width: 55%;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0;
    }

    #input-nombre{
        height: 4vh;
    }
    #mensaje{
        height: 8vh;
        resize: none;
    }
}
