*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

:root{
    --azul: #2A7AE4;
    --raleway: 'Raleway', sans-serif;
    --celeste: #EAF2FD;
}

.container{
    padding-right: 6%;
    padding-left: 6%;
}

body{
    background-color: #ffff;
    font-family: var(--raleway);
}


@media only screen and (min-width: 1024px){
    .container{
        padding-right: 12%;
        padding-left: 12%;
    }
}