.tienda{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 4%;
    width: 100%;
}

.tienda__titulo{
    padding-top: 2%;
    padding-bottom: 6%;
    font-size: 22px;
    font-weight: 700;
}

.product__store{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: auto;
}

.producto{
    width: 47.5%;
    height: 38vh;


    max-width: 200px;

    max-height: 285px;
    margin-bottom: .5em;
    overflow: scroll;
}

.extra{
    display: none;
}

.producto__img{
    width:100%;
    height: 70%;
    padding-bottom: 5%;
}

.producto__titulo{
    font-size: 14px;
    font-weight: 400;
    text-overflow:ellipsis;
}

.producto__precio{
    font-size: 16px;
    font-weight: 700;
}

.ver-producto{
    font-size: 14px;
    font-weight: 700;
    color: var(--azul);
}

.producto__titulo, .producto__precio{
    padding-bottom: 8%;
}

/* tablet */
@media only screen and (min-width: 768px){
    .tienda{
        padding-top: 2%;
    }
    .tienda__titulo{
        padding-top: 1%;
        padding-bottom: 3%;
    }
    .product__store{
        justify-content:baseline;
    }
    .producto{
        width: 23.5%;
        max-height: 350px;
    }
}

@media only screen and (min-width: 1024px){
    .product__store{
        justify-content:baseline;
    }
    .extra{
        display:block;
    }

    .producto{
        width: 15%;
    }

    .tienda__titulo{
        padding-top: 2%;
        padding-bottom: 2.8%;
    }
}
